/*.navbar{
  background: #BE93C5;
  background: -webkit-linear-gradient(to left, #7BC6CC, #BE93C5);
  background: linear-gradient(to left, #7BC6CC, #BE93C5);
  z-index:1000;
}*/
.navbar{
  z-index:1000;
  font-size:1.2em;
}
@media(min-width: 992px) {
    .navbar.bg-dark {
      background: #BE93C5!important;
      background: -webkit-linear-gradient(to left, #7BC6CC, #BE93C5)!important;
      background: linear-gradient(to left, #7BC6CC, #BE93C5)!important;
      color: white;
    }
}
/*@media(max-width: 768px) {
    .navbar.bg-light {
        background-color: red !important;
    }
}*/

.landing-grid{
  background: #BE93C5;
  background: -webkit-linear-gradient(to left, #7BC6CC, #BE93C5);
  background: linear-gradient(to left, #7BC6CC, #BE93C5);
  text-align: center;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  padding-bottom: 150px;
}
.profile-pic{
  height:250px;
  padding-top:5em;
}
.banner-text{
  background-color: black;
  opacity:0.9;
  width:75%;
  margin:auto;
  border-radius: 10px;
}
.banner-text h1{
  /*font-size:66px;*/
  font-weight:bold;
  color:white;
  padding-top:20px;
}
.banner-text h2{
  /*font-size:50px;*/
  margin: 8px;
  padding:8px;
  font-weight:bold;
  color:white;
}
.banner-text hr{
  border-top: 5px solid #A1A9C8;
  width: 50%;
  margin:auto;
}
.banner-text p{
  color:white;
  font-size: 20px;
  padding: 1em;
  margin-top: 4px;
  padding-top:4px;
  margin-bottom: 4px;
  padding-bottom:4px;
}
.banner-text span{
  color:gray;
  font-size: 18px;
  /*padding: 1em;*/
  /*margin-bottom: 16px;
  padding-bottom:16px;*/
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto;
}
.social-links i{
  color: #BE93C5;
  font-size: 5em;
  padding: 8px;
  border: 3px solid #7BC6CC;
  border-radius: 10px;
  margin:10px;
}
.work-grid{
  display: flex;
  justify-content: center;
}
.react-grid{
  display: flex;
  justify-content: center;
}
.project-header{
  color:#BE93C5;
  text-align: center;
}
.contact-symbols i{
  color: #7BC6CC;
  font-size: 5em;
  padding: 8px;
}
.contact-info{
  color: white;
  font-size: 1.5em;
  padding: 8px;
}
.contact-container{
  text-align: center;
  background-color: black;
  opacity: 0.9;
  color: #BE93C5;
}
.about-text p{
  color: white;
  font-size: 1.5em;
  width:60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.school-grid{
  display:flex;
  /*text-align:center;*/
  margin: 0 auto;
  justify-content: center;
}
.container, .row, .col{
  /*margin: 0 auto;*/
  justify-content: center;
}
.work-cards{
  /*display:flex;*/
  /*text-align:center;*/
  /*margin: 0 auto;*/
  /*justify-content: center;*/
}
@media(max-width: 1200px) {
  .card-deck{
    display:block!important;
  }
}
/*@media(max-width: 1204px) {
  .card-deck{
    display:flex!important;
  }
}*/

.work-cards2{
  margin-top:20px;
}
/*.card-style {
  max-width: 30%;
}*/

.tabs .tab a {
  color: rgba(38, 166, 154, 0.7);
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color:#26a69a;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color:#26a69a;
  /*Custom Text Color While Active*/
  background-color: rgba(38, 166, 154, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:#26a69a;
  /*Custom Color Of Indicator*/
}
/*.about-text{
  text-align: center;
}*/
